# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Virtual environments
venv/
env/
.venv/

# Node
node_modules/
package-lock.json
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env
.env
.env.local
